@page "{id?}"
@using GodwitWHMS.Models.Enums
@model GodwitWHMS.Pages.LogAnalytics.LogClearingFormModel
@{
    Layout = "~/Pages/Shared/Dashmin/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
}

<div class="form-card" id="formcard">
    <div class="m-2">
        <form id="formMain" method="post" novalidate="">

            <div class="form-card-body">

                <p class="small-italic-left">Confirmation</p>
                <fieldset>
                    <h3>Are you sure want to clear all log data?</h3>
                </fieldset>

            </div>
            <div class="form-card-footer">
                <button type="submit" id="btnSubmit">Submit</button>
            </div>

        </form>
    </div>
    
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            setFormCardHeight();

            showStatusMessage('@statusMessage');

            new ej.buttons.Button({ isPrimary: true }, '#btnSubmit');

            var validationOptions = {}

            var formValidator = new ej.inputs.FormValidator('#formMain', validationOptions);
            var formElement = document.getElementById('formMain');
            formElement.addEventListener('submit', function (e) {
                e.preventDefault();
                if (formValidator.validate()) {
                    formElement.submit();
                }
            })

        });
    </script>
}