@page
@model ResendEmailConfirmationModel
@using GodwitWHMS.Applications.Companies
@inject CompanyService CompanyService
@{
    ViewData["Title"] = "Resend email confirmation";
    ViewData["StatusMessage"] = Model.ErrorMessage;

    var defaultCompany = await CompanyService.GetDefaultCompanyAsync();
    var companyName = defaultCompany?.Name ?? string.Empty;
}



<partial name="~/Areas/Identity/Pages/Account/_StatusMessage.cshtml" model=@ViewData["StatusMessage"] />
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
            <div class="row">
                <div class="col-md-12 text-center mb-3">
                    <h3 class="text-primary">Re-Send Email Confirmation</h3>
                    <a asp-area="" asp-page="/Index" class="">
                        <h5 class="text-primary"><i class="fas fa-home me-2"></i>@companyName</h5>
                    </a>
                </div>
                <div class="col-md-12">

                    <form method="post">
                        <div class="form-group mb-2">
                            <label asp-for="Input.Email">Email address</label>
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="name@example.com">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mb-2">Resend</button>

                    </form>

                </div>
            </div>
            <p class="text-start mb-0">Already have an Account? <a asp-page="./Login">Sign In</a></p>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

